<div>
    <div class="container px-5 px-sm-0">
        <div class="row">
            <!--lefside-->
            <%= render 'books/user', user: @user, n_book: @n_book %>
            <!--rightside-->
            <div class="col-md-8 offset-md-1">
                <h2>Groups</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="scope"></th>
                            <th class="scope">グループ名</th>
                            <th>紹介文</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @groups.each do |group| %>
                        <tr>
                            <th>
                                <a href="<%= group_path(group.id) %>">
                                <%= image_tag group.get_group_image(100, 100) %><br>
                                </a>
                            </th>
                            <td><%= group.name %></td>
                            <td><%= group.introduction %></td>
                            <td></td>
                            <% if group.owner_id == current_user.id %>
                                <td>
                                    <%= link_to "Edit", edit_group_path(group.id), class:"btn btn-sm btn-success" %>
                                </td>
                                <td>
                                    <%= link_to "Destroy", group_path(group.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "Are you sure?" %>
                                </td>
                            <% end %>
                        </tr>
                    </tbody>
                    <% end %>
                </table>
            </div>    
        </div>
    </div>
</div>
