<div>
    <div class="container px-5 px-sm-0">
        <div class="row">
            <!--lefside-->
            <%= render 'books/user', user: @user, n_book: @n_book %>
            <!--rightside-->
            <div class="col-md-8 offset-md-1">
                <h2>Books</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th> </th>
                            <th class="scope">Title</th>
                            <th class="scope">Opinion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @books.each do |book| %>
                        
                            <!--book detail-->
                            <%= render 'books/detail', book: book %>
                        </tr>
                    </tbody>
                    <% end %>
                </table>
                <h4>7日間の投稿数    </h4>
                <!--前日比-->
                <table class="table table-bordered">
                    <thead>
                        <th>6日前</th>
                        <th>5日前</th>
                        <th>4日前</th>
                        <th>3日前</th>
                        <th>2日前</th>
                        <th>1日前</th>
                        <th>今日</th>
                    </thead>
                    <tbody>
                        <% @books_count.each do |book_count| %>
                            <td><%= book_count %></td>
                        <% end %>
                    </tbody>
                </table>
                <!--specific date data-->
                <%= form_with url: post_date_path(@user.id), method: :post do |form| %>
                  <%= form.date_field :date %>
                  <%= form.submit class:"btn btn-sm btn-success" %>
                <% end %>

                <% if @books_count_date %>
                    <table class="table">
                        <thead>
                            <th>投稿数</th>
                        </thead>
                        <tbody>
                            <td><%= @books_count_date%></td>
                        </tbody>
                    </table>
                <% end %>
            </div>    
        </div>
    </div>
</div>
