<div>
    <div class="row">
        <!--lefside-->
        <div class="col">
            <p>User info</p>
            <%= image_tag current_user.user.get_profile_image(100, 100) %>
            <p>name</p>
            <%= current_user.user.name %> <br>
            <p>introduction</p>
            <%= current_user.introduction %>
            <%= link_to edit_user_path(current_user) %>
            <p>New book</p>
            <%= form_with model: @book, url: '/books', method: :post do |f| %>
                <p>title</p>
                <%= f.text_field :title %>
                
                <p>Opinion</p>
                <%= f.text_area :body %>
                <br>
                <%= f.submit "Create Book" %>
        </div>
        <!--rightside-->
        <div class="col">
            
        </div>
    </div>
</div>
