<div>
    <div class="container px-5 px-sm-0">
        <div class="row">
            <!--lefside-->
            <%= render 'user', user: @user, book: @book, n_book: @n_book %>
            <!--rightside-->
            <div class="col-md-8 offset-md-1">
                <h2>Book detail</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <!--booke detail-->
                            <%= render 'detail', book: @book %>
                            <% if @book.user == current_user %>
                                <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
                                <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "Are you sure?" %></td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
                <!--comment index-->
                <%= render 'comment', book_comments: @book_comments %>
                <!--comment form-->
                <div class="container">
                    <%= form_with(model: @book_comment, url: book_book_comments_path(@book.id)) do |form| %>
                        <div class="form-group">
                            <%= form.text_area :comment, class:"form-control" %>
                        </div>
                        <div class="form-group">
                            <%= form.submit "submit", class:"btn btn-secondary" %>
                        </div>
                    <% end %>
                </div>
            </div>    
        </div>
    </div>
</div>