<div>
    <div class="container px-5 px-sm-0">
        <div class="row">
            <!--lefside-->
            <%= render 'user', user: @user, book: @book, n_book: @n_book %>
            <!--rightside-->
            <div class="col-md-8 offset-md-1">
                <h2>Book detail</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <!--booke detail-->
                            <%= render 'detail', book: @book %>
                            <% if @book.user == current_user %>
                                <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
                                <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "Are you sure?" %></td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
                <!--comment-->
                <div class="book_comments">
                    <%= render 'book_comments/comment', book_comments: @book_comments, book: @book, n_book_comment: @n_book_comment %>
                </div>
            </div>    
        </div>
    </div>
</div>