<% if @books.present? %>
    <h2>Books seach for "<%= @query %>"</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> </th>
                <th class="scope">User Name</th>
                <th class="scope">Title</th>
                <th class="scope">Opinion</th>
            </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>
            <tr>
                    <td>
                        <a href="<%= user_path(book.user.id) %>">
                            <%= image_tag book.user.get_profile_image(50, 50) %>
                        </a>
                    </td>
                    <td><%= book.user.name %></td>
                    <td><a href="<%= book_path(book.id) %>"><%= link_to book.title, book_path(book.id) %></a></td>
                    <td><%= book.body %></td>
                </a>
            </tr>
        </tbody>
        <% end %>
    </table>

<% elsif @users.present? %>
    <h2>Users</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="scope">image</th>
                <th class="scope">name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                        <%= image_tag user.get_profile_image(50, 50) %><br>
                </td>
                </a>
                <td><a href="<%= user_path(user.id) %>"><%= user.name %></a></td>
                <td>フォロー数: <%= user.following.count %></td>
                <td>フォロワー数: <%= user.followers.count %></td>
                <td>
                    <% if user.id != current_user.id %>
                        <% if user.followed_by?(current_user) %>
                            <%= link_to "unfollow", user_relationships_path(user.id), class: "btn btn-block btn-success", method: :delete %>
                        <% else %>
                            <%= link_to "Follow", user_relationships_path(user.id), class: "btn btn-block btn-primary", method: :post %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        </tbody>
        <% end %>
    </table>
<% end %>