<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          Bookers
        </a>
        <div class="navbar ml-auto">
          <% if user_signed_in? %>
            <a href="<%= user_path(current_user.id) %>" class="nav-link text-light">
              <i class="fas fa-home" ></i> Home
            </a>
            <a href="<%= users_path %>" class="nav-link text-light">
              <i class="fas fa-users"></i> Users
            </a>
            <a href="<%= books_path%>" class="nav-link text-light">  
              <i class="fas fa-book-open"></i> Books
            </a>
            <a href="<%= destroy_user_session_path %>" data-method="delete" class="nav-link text-light">   
              <i class="fas fa-sign-out-alt"></i> Log out
            </a>
          <% else %>
            <a href="<%= root_path %>" class="nav-link text-light">
              <i class="fas fa-home"></i> Home
            </a>
            <a href="<%= about_path %>" class="nav-link text-light">
              <i class="fas fa-link"></i> About
            </a>
            <a href="<%= new_user_registration_path %>" class="nav-link text-light">
              <i class="fas fa-user-plus"></i> Sign up
            </a>
            <a href="<%= new_user_session_path %>" class="nav-link text-light">
              <i class="fas fa-sign-in-alt"></i> Log in
            </a>

          <% end %>
        </div>
      </nav>
      <% if user_signed_in? %>
        <nav class="navbar navbar-light bg-light">
            <%= form_with url: search_path, class:"form-inline my-1 mx-auto", method: :get do |f| %>
              <%= f.text_field :query, class: "form-control form-control-sm mr-sm-2" %>
              <div>
                <%= f.select :target, options_for_select([["User", "User"], ["Book", "Book"]]), {}, class: "custom-select custom-select-sm" %>
                <%= f.select :type, options_for_select([["部分一致", "part"], ["完全一致", "whole"]]), {}, class: "custom-select custom-select-sm" %>
              </div>
            <%= f.submit "Search", class: "btn btn-secondary btn-sm" %>
            <% end %>
        </nav>
      <% end %>
    </header>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
    
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight 〇〇.inc</p>
          </div>
        </div>
      </div>
 
      </footer>
  </body>
</html>
