<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Bookers</a>
        <div class="navbar ml-auto">
          <% if user_signed_in? %>
            
              <%= link_to "Home", user_path(current_user.id), class:"navbar-link text-light" %> 
            
            <a>
              <%= link_to "Users", users_path, class:"nav-link text-light" %>
            </a>
            <a>
              <%= link_to "Books", books_path, class:"nav-link text-light" %>
            </a>
            <a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"navbar-link text-light" %>
            </a>
          <% else %>
            <a>
              <%= link_to "Home", root_path, class:"nav-link text-light" %>
            </a>
            <a>
              <%= link_to "About", about_path, class:"nav-link text-light" %>
            </a>
            <a>
              <%= link_to "Sign up", new_user_registration_path, class:"nav-link text-light" %>
            </a>
            <a>
              <%= link_to "Log in", new_user_session_path, class:"nav-link text-light" %>
            </a>
          <% end %>
        </div>
      </nav>
    </header>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
    
    <footer>copy light</footer>
  </body>
</html>
